





























/* #flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

#flex-container > p {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#change-flex-btn {
  display: flex;
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  background-color: blueviolet;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#change-flex-btn:hover {
  transition: 0.5s ease all;
  opacity: 0.8;
} */

